<div class="col-md-12 h-100" >
    <div class="row h-100">
        <div class="col-md-2 h-100 wrapper-border">
            <div class="wrapper h-100 mt-4">
                <div class="links">
                    <ul>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/account/updateProfile">Profile</a> <i class="bi bi-person"></i></li>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/account/orders">Orders</a> <i class="bi bi-bag-check"></i></li>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/account/myWallet">Wallet</a> <i class="bi bi-wallet2"></i></li>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/account/updatePassword">Password</a> <i class="bi bi-shield-check"></i></li>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/referals">Referals</a> <i class="bi bi-link-45deg"></i></li>
                        <li class="mt-2 p-2 d-flex align-center justify-content-between link-item"><a href="/account/logout" onclick="showConfirmationModal()">Logout</a> <i class="bi bi-box-arrow-right"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
        
   





