<%- include('../../partials/_header') %>
    <body>
    <%- include('../../partials/_navbar') %>

    <div class="container py-5 ">
      <h2 class="text-center mb-4">Setup New Address</h2>
        <form action="/account/address/addAddress" method="post">
          <div class="row">
            <div class="col-md-6 addAddress_input">
              <label>Name</label>
              <input type="text"  required class="form-control" name="name" placeholder="name" aria-label="Name">
            </div>
            <div class="col-md-6 addAddress_input">
              <label>Phone</label>
              <input type="text" oninput="restrictToNumbers(event)" maxlength="10" pattern=".{10}" title="Exactly 10 characters required" required class="form-control" name="phone" placeholder="Phone number" aria-label="Last name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 addAddress_input">
              <label>Pincode</label>
              <input type="text" minlength="6" oninput="restrictToNumbers(event)" maxlength="6"pattern=".{6}" title="Picode must be 6 numbers long" required class="form-control" name="pincode" placeholder="Pincode" aria-label="First name">
            </div>
            <div class="col-md-6 addAddress_input">
              <label>Alternative Number</label>
              <input type="text" oninput="restrictToNumbers(event)" maxlength="10" minlength="10" required class="form-control" name="altNo" placeholder="Alternative Phone" aria-label="First name">
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 addAddress_input ">
            <label>City</label>
            <input type="text" required class="form-control" name="city" placeholder="City" aria-label="Last name">
          </div>
            <div class="col-md-6 addAddress_input">
              <label>Locality</label>
              <input type="text" required class="form-control" name="locality" placeholder="Locality" aria-label="First name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  addAddress_input">
              <label for="">LandMark</label>
              <input type="text" required class="form-control"  name="landMark" placeholder="Land Mark" aria-label="Last name">
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        </form>
    </div>
    <script>
      function restrictToNumbers(event) {
      const input = event.target;
      const currentValue = input.value;
      const newValue = currentValue.replace(/[^0-9]/g, '');
      input.value = newValue;
    }
    </script>
<%- include('../../partials/_footer') %>