<%- include('partials/_header.ejs') %>
    <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100 ">
            <div class="col-md-6 ">
                <img src="/users/img/404.jpg" alt="404">
                <div class="text-center mt-5">
                    <a class="text-center " href="/"><button class="text-center back-Home">Back to Home</button></a>
                </div>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs') %>