<%- include('./partials/_header') %>
<div class="container w-100 h-100 d-flex align-items-center justify-content-center">
    <h2 class="text-center">Your are Blocked because of Some reason</h2>
</div>
<%- include('./partials/_footer.ejs') %>