<%- include('./partials/_header',) %>
<body>
    <div class="container w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="col-md-4 ">
            <div class="mb-3 rounded shadow-lg alert alert-primary">
                Your Token is invalid Please try Again!
            </div>
             <a href="/" class="text-center"><button class="btn btn-dark text-center">Go back to home</button></a>
        </div>
    </div>

<%- include('./partials/_footer.ejs') %>