<%- include('./partials/_header',) %>
<body>
    <div class="container w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="col-md-4 rounded shadow-lg">
            <div class="title p-3 ">
                <h3 class="mb-3">Setup New Password</h3>
                <div class="mb-4">
                    <input type="checkbox" id="lengthCriteria" disabled> At least 8 characters long<br>
                    <input type="checkbox" id="numberCriteria" disabled> Contains a number<br>
                    <input type="checkbox" id="capitalCriteria" disabled> Contains at least one capital letter<br>
                </div>
                <form action="/resetPassword/<%=token%>" method="post">
                    <div class="d-flex align-items-center justify-content-center mb-4 p-0">
                        <input type="password" name="password" id="resetPassword" placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{8,}$" class="mt-1 w-100 p-2 rounded border border-secondary" >
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-4 p-0">
                        <input type="password" name="passwordConfirm" id="resetPasswordConfirm" placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{8,}$" class="mt-1 w-100 p-2 rounded border border-secondary" >
                    </div>
                    <button id="resetPassBtn" type="submit" class="btn w-100 login_submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const resetBtn = document.getElementById('resetMailBtn');
        const passwordInput = document.getElementById('resetPassword')
        passwordInput.addEventListener('input',()=>{
            const password = passwordInput.value;
            const lengthCriteria = document.getElementById("lengthCriteria");
            const numberCriteria = document.getElementById("numberCriteria");
            const capitalCriteria = document.getElementById("capitalCriteria");
            const submitButton = document.getElementById("resetPassBtn");

            lengthCriteria.checked = password.length >= 8;

            // Check if the password contains a number
            numberCriteria.checked = /\d/.test(password);

            // Check if the password contains at least one capital letter
            capitalCriteria.checked = /[A-Z]/.test(password);

            // Enable the submit button if all criteria are satisfied
            submitButton.disabled = !(lengthCriteria.checked && numberCriteria.checked && capitalCriteria.checked);
        })
    </script>
<%- include('./partials/_footer.ejs') %>