<%- include('../partials/_header.ejs') %>

<div class="d-flex row justify-content-center align-items-center w-100 h-100">
    <div class="col-md-6 text-center ">
      <div class="container login_part">
        <h3>Welcome to Trendverse</h3>
        <p>Enter your Credintials</p>

        <%if(successMessage[0]){%>
          <div class="alert alert-info" role="alert">
              <%=successMessage[0]%>
          </div>
        <%}else if(errorMessage[0]){%>
          <div class="alert alert-danger" role="alert">
              <%=errorMessage[0]%>
          </div>
        <%}%>
        
        <div class="login__btn">
          <img src="users/img/icon/GoogleLogin.png" alt="Google logo"  />Login with
          Google
        </div>
  
        <div class="login__btn">
          <img src="users/img/icon/fbLogin.png" alt="Facebook Logo"  />Login with
          Facebook
        </div>
  
        <div class="or"><p>or</p></div>
      <form action="/signup" class="login__form" method="post">
          <div
            class="flex-column d-flex align-items-center justify-content-center"
            >
  
  
          </div>
  
          <div class="login__inputs">
            <input
              name="name"
              type="text"
              class="form-control "
              placeholder="Username"
            />
  
          </div>
          <div class="login__inputs">
            <input
              name="email"
              type="email"
              class="form-control "
              placeholder="Email"
            />
  
          </div>
          <div class="login__inputs">
            <input
              name="phone"
              type="tel"
              class="form-control "
              placeholder="Phone Number"
            />
  
          </div>
  
          <div class="login__inputs">
            <input
              name="password"
              type="password"
              class="form-control "
              placeholder="Password"
            />
          </div>
          <div class="login__inputs">
            <input
              name="Confirmpassword"
              type="password"
              class="form-control "
              placeholder="Confirm password"
            />
          </div>
          
          <div class="login__inputs login_submit">
              <button class="btn w-100">Login</button>
          </div>
        
      </form>
      </div>
    </div>
  </div>

<%- include('../partials/_footer.ejs') %>