<%- include('../partials/_header',) %>
<body>
    <%- include('../partials/_navbar') %>
    <section class="container  d-flex  d-flex align-items-center flex-column justify-content-center">
        <h3 class="mt-5 mb-5">Update Password</h3>    
        <div class="row w-100 justify-content-center">
            <div class="col-md-4">
                
                <form action="/account/updatePassword?_method=PATCH" method="post">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Enter old Password</label>
                        <input type="password" minLength="3" required name="oldPassword" class="form-control" id="formGroupExampleInput" placeholder="Old Password">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Enter New Password</label>
                        <input type="password" minLength="3" required name="newPassword" class="form-control" id="formGroupExampleInput2" placeholder="New Password">
                      </div>
                      <div class="mb-3">
                        <button type="submit" class="Update__Button w-100">Update Password</button>
                      </div>
                </form>

            </div>
        </div>
    </section>

<%- include('../partials/_footer',) %>