<%- include('../partials/_header') %>
    <body>
    <%- include('../partials/_navbar',) %>
    <section style="background-color: #eee;">
      <div class="container py-5">
        <h2 class="text-center mt-4">My Orders</h2>
      

        <% orders.forEach((order) => {%>
          <div class="row mb-2 bg-white">
              <div class="col-md-4 p-2">
                
              </div>
              <div class="col-md-4 p-2">
                
              </div>
              <div class="col-md-4 p-2">
                
              </div>
          </div>
        <% }) %>
        
      </div>
    </section>
  
    <script>
      function hideErrorMessage() {
          var errorMessageElement = document.getElementById('error-message');
          if (errorMessageElement) {
            setTimeout(()=>{
              errorMessageElement.style.display = 'none';
            }, 4000);
            
          }
        }
        hideErrorMessage();
  </script>
<%- include('../partials/_footer',) %>